<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentManagement.Properties.Settings.QLSVDBConnectionString"
            connectionString="Data Source=LAPTOP-7NB7K4A7\SQLEXPRESS;Initial Catalog=QLSVDB;Persist Security Info=True;User ID=sa;Password=tranphuongnam999"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>